@model JekShop.Models.Accounts.ResetPasswordViewModel

@{
    ViewData["Title"] = "Reset Password";
}

<div class="d-flex justify-content-center align-items-center" style="min-height: 80vh;">
    <div class="card shadow p-4" style="width: 420px; border-radius: 12px;">
        <h3 class="text-center mb-3">Reset your password</h3>

        <form asp-action="ResetPassword" method="post">
            @Html.AntiForgeryToken()

            @* скрытое поле для токена *@
            <input asp-for="Token" type="hidden" />
            <input asp-for="Email" type="hidden" />

            <div class="mb-3">
                <label asp-for="Password" class="form-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="ConfirmPassword" class="form-label"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-outline-info w-100">Change password</button>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
